<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/basic.css">
    <title>Add Book</title>
</head>
<body>
    <h1>Add a New Book</h1>
    <a href="/admin">Return to Admin</a>
    <br>
    <hr>
    <form action="/add_book" method="post">
        Title: <input type="text" name="title"><br>
        Author: <input type="text" name="author"><br>
        ISBN: <input type="text" name="isbn"><br>
        <input type="submit" value="Add Book">
    </form>
</body>
</html>
