<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/basic.css">
    <title>Admin Page</title>
</head>
<body>
    <header>
        <h1>Admin Page</h1>
        <nav>
            <a href="/admin" style="color: white;">Home</a>
            <a href="/add_book" style="color: white;">Add Book</a>
            <a href="/remove_user" style="color: white;">Remove User</a>
            <a href="/remove_book" style="color: white;">Remove Book</a>
            <a href="/logout" style="color: white;">Logout</a>
        </nav>
    </header>
</body>
</html>
