<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/basic.css">
    <title>Library Login</title>
</head>
<body>
    <header>
        <h1>Welcome to our Library</h1>
        <a href="/" style="color: rgb(255, 255, 255);">Home</a>
    </header>
    <br>
    <form action="/create_user" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <input type="submit" value="Create Account">
    </form>
    <footer>
        <p>Library Management System</p>
    </footer>
</body>
</html>
