<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/basic.css">
    <title>Library Homepage</title>
</head>
<body>
    <header>
        <hr>
        <h1>Welcome to our Library!</h1>
        <nav>
            <a href="/" style="color: blue; text-decoration: none;">Home</a>
            <a href="/return_book">Return Book</a>
            <a href="/create_user">Create Account</a>
            <a href="/login">Log In</a>
        </nav>
    </header>
    <hr>
    <section>
        <h2>Search for Books</h2>
        <form action="/search_books" method="post">
            <input type="text" name="search_query" placeholder="Search books...">
            <input type="submit" value="Search">
        </form>

        <!-- Return search results -->
        {% if books %}
            <div>
                <h3>Search Results:</h3>
                <ul>
                    {% for book in books %}
                    <li>
                        {{ book.title }} by {{ book.author }} (ISBN: {{ book.isbn }})
                        <!-- Checkout Link -->
                        <a href="/checkout_book/{{ book.isbn }}">Checkout</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% elif request.method == 'POST' %}
            <p>No books found.</p>
        {% endif %}
    </section>
</body>
</html>
