<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/basic.css">
    <title>Library Login</title>
</head>
<body>
    <header>
        <h1>Welcome to our Library</h1>
        <a href="/" style="color: rgb(255, 255, 255);">Home</a>
    </header>
    <br>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="/login" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <input type="submit" value="login">
    </form>
</body>
</html>