<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/basic.css">
    <title>Remove User</title>
</head>
<body>
    <h1>Remove User</h1>
    <a href="/admin">Return to Admin</a>
    <br>
    <hr>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="/remove_user" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <input type="submit" value="Remove User">
    </form>
</body>
</html>
