<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/basic.css">
    <title>Remove Book</title>
</head>
<body>
    <h1>Remove Book</h1>
    <a href="/admin" style="color: rgb(0, 0, 255);">Return to Admin</a>
    <br>
    <hr>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="/remove_book" method="post">
        ISBN: <input type="text" name="isbn"><br>
        <input type="submit" value="Remove Book">
    </form>
    <footer>
        <p>Library Management System</p>
    </footer>
</body>
</html>
